@import "tailwindcss";

@theme inline {
  --color-epic-blue: #0A96E6;
  --color-epic-purple: #3F1E56;
  --color-epic-yellow: #E6D02C;
  --color-epic-pink: #EE2E60;
  --color-epic-teal: #92D0D2;
  --color-epic-white: #FFFFFF;

  --font-roboto: "Roboto", sans-serif;
  --font-georgia: "Georgia", serif;
}

body {
  background: #FFFFFF;
  color: #3F1E56;
  font-family: "Roboto", sans-serif;
}
